<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta name="viemport" content="width=device-with,initial-scale=1.0">
        <link rel='stylesheet' href='..\styles\styles.css' type="text/css">
        <title>ADOLIST</title>
    </head>
    <body>
        <div id="general">
        <header>
            <img id="cabezado-fondo" src="..\assets\imagenes\Cabezado.jpeg"/>
            <a href="..\index.html"><img id="ado" src="..\assets\imagenes\adolist.png"/></a>
        </header>
         <div id="derechos">
             <h3 style="top:40%; left:40%;position:absolute; color: white;">Copyright © Ali Elkadri, Domingo Suarez, Omar Diaz</h3>
         </div>
        </div>
    </body>
</html>